p.text, label, span { color: #685206; font-family: 'Helvetica Neue', sans-serif; font-size: 13px; line-height: 24px; margin: 0 0 24px;}
label { text-align: left; margin: 0 0 5px; }
a{ color: #4e4e4e !important; text-decoration: none !important;}